# Upptime Graphs Workflow
name: Graphs CI
on:
  schedule:
    - cron: '0 0 * * *'
  workflow_dispatch:
jobs:
  update-graphs:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - name: Update graphs
        uses: upptime/uptime-monitor@master
        with:
          command: graphs
        env:
          GH_PAT: ${{ secrets.GH_PAT }}
