# Upptime Template Update Workflow
name: Update Template CI
on:
  schedule:
    - cron: '0 0 * * 0'
  workflow_dispatch:
jobs:
  update-template:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - name: Update from template
        uses: upptime/uptime-monitor@master
        with:
          command: update
        env:
          GH_PAT: ${{ secrets.GH_PAT }}
